<div class="container">
  <!-- Table Section -->
  <app-table 
    [inputData]="tableData" 
    [tableConfig]="tableConfig"
    [totalElements]="totalElements"
    [useBackendPagination]="true"
    [currentPageIndex]="currentPage"
    [pageSize]="pageSize"
    [loading]="loading"
    [linkClickHandler]="onDepartmentNameClick"
    [editActionHandler]="onEditAction"
    [deleteActionHandler]="onDeleteAction"
    [returnToPage]="'departments'"
    [filters]="filters"
    [activeFilters]="activeFilters"
    (sortChange)="onSortChange($event)"
    (pageChange)="onPageChange($event)"
    (applyFilter)="onApplyFilter($event)"
    (clearFilters)="onClearFilters()"
    (removeFilter)="onRemoveFilter($event)">
  </app-table>
</div>